<footer class="container footer">
    <section class="footer__column">
        <div class="footer__info">
            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="95" viewBox="0 0 95 80" fill="none"><path fill="#6B38F1" d="M60.417 0H19.576C14.348 0 9.426 2.105 5.732 5.909 2.038 9.719 0 14.779 0 20.16v6.175c0 8.224 5.023 15.43 13.441 19.283l3.36 1.418v-20.4a2.355 2.355 0 0 1-.02-.308v-6.175c0-1.046.518-1.727.825-2.042.307-.316.968-.85 1.976-.85h40.842a2.72 2.72 0 0 1 1.983.85c.308.315.818.996.818 2.035v13.55H80V20.154c0-5.383-2.038-10.45-5.732-14.252C70.56 2.098 65.645 0 60.418 0ZM66.49 49.345 63.2 47.956v20.54c.013.049.013.105.013.154v6.175a2.895 2.895 0 0 1-.825 2.05c-.306.315-.968.849-1.977.849H19.576c-1.54 0-2.795-1.299-2.795-2.877V61.296H0v13.55C0 85.963 8.78 95 19.576 95h40.841c5.228-.007 10.15-2.105 13.844-5.909 3.694-3.81 5.732-8.876 5.732-14.259v-6.175c0-8.301-5.044-15.522-13.503-19.304v-.008Z"></path><path fill="#6B38F1" d="M39.996 68.6s-1.35-7.641-7.21-13.676v.007a26.622 26.622 0 0 0-2.366-2.14C25.097 48.552 19.487 47.5 19.487 47.5s7.423-1.39 13.291-7.425a25.873 25.873 0 0 0 2.972-3.698c3.374-5.073 4.24-9.992 4.24-9.992s1.356 7.649 7.218 13.683c.77.793 1.567 1.495 2.365 2.134 5.323 4.238 10.926 5.29 10.926 5.29s-7.423 1.397-13.285 7.432a25.842 25.842 0 0 0-2.965 3.698c-3.373 5.06-4.253 9.979-4.253 9.979Z"></path></svg>
            <p>|</p>
            <p>STORE</p>
        </div>
        <div class="footer__credits">
            <p>
                © 2024, Shuffle.store Operated by
            </p> 
            <a>
                Studio Plaid.
            </a> Need help?
            <a> <br>
                Email support@shuffle.store
            </a>
        </div>
    </section>
    <section class="footer__column">
        <div class="footer__links">
            {% for link in settings['footer'].settings.links %}
                {% if forloop.index0 < 3 %}
                    <a class="footer__links_navegacion" href="{{ link.url }}">{{ link.label | upcase }}</a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="footer__links">
            {% for link in settings['footer'].settings.links %}
                {% if forloop.index0 >= 3 %}
                    <a class="footer__links_policy" href="{{ link.url }}">{{ link.label | upcase }}</a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="footer__links">
            <p>We accept all major cards, PayPal & crypto</p>
            {% include 'payment-types.liquid' %}
        </div>
    </section>
    <section class="footer__column">
        <div class="footer__subscribe">
            <input type="email" placeholder="Enter Email" class="footer__input">
            <svg class="footer__arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#762CFB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right "><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"></path></svg>
        </div>
        <div class="footer__social">
            <a href="#">FB</a>
            <a href="#">TW</a>
            <a href="#">IG</a>
        </div>
    </section>
</footer>